<nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%; position: fixed; top: 0px; left: 0px; z-index: 100;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img height="60px" src="/static/imagenes/Logo.png" alt="Logo de La Antigua">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/inicio/">Inicio</a>
        <a class="nav-link active" aria-current="page" href="/menu/">Menu</a>
        <a class="nav-link active" aria-current="page" href="/pedidos/">Pedidos</a>
        <a class="nav-link active" aria-current="page" href="#">Inventario</a>
        <a class="nav-link active" aria-current="page" href="#">Cuentas por Pagar</a>
        <a class="nav-link active" aria-current="page" href="#">Cuentas por Cobrar</a>
        <a class="nav-link active" aria-current="page" href="#">Recursos Humanos y Planilla</a>
        <a class="nav-link active" aria-current="page" href="#">Almuerzos al Credito</a>
        <a class="nav-link active" aria-current="page" href="/reporteria/">Reporteria</a>
        <form class="d-flex" role="search">
          <a class="btn btn-outline-danger" href="/logout">Salir</a>
        </form>
      </div>
    </div>
  </div>
</nav>
<div style="margin-bottom: 100px"></div>
